@charset "utf-8";

/* reset */
body, html {height:100%}
body {font-family:'Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',Dotum,'굴림', Gulim,Verdana,Arial,sans-serif;color:#333;font-size:16px;line-height:1.4em;-webkit-text-size-adjust:none;word-break:keep-all}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,textarea,p,th,td,input,select,textarea,button {margin:0;padding:0;font-size:inherit;line-height:inherit}
fieldset,img {border:0 none}
dl,ul,ol,li {list-style:none}
table {width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed}
img {vertical-align:middle;}
a {color:#333;text-decoration:none;}
em {font-style:normal;}
caption,legend{overflow:hidden;width:1px;height:1px;margin:-1px 0 0 -1px;font-size:1px;line-height:0;color:transparent}
